
/* Establecemos el tamaño de los coches */
.car img {
    width: 100px;
    height: 50px;

    display: flex;
    flex-direction: column;
}
.hidden {
    display:none;
}


/* Estilo para la pantalla y todo el texto */
body {
    background-color: #F0FFFF;
    font-family: Inconsolata, serif;
}

/* Estilo único para el título de la página */
.blinking {
    animation:blinkingText 1.2s infinite;
    text-align: center;
    font-size: 3rem;
}

@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

.selector {
    text-align: center;
}

label {
    font-style: italic;
    font-size: 2rem;
}

/* Centramos los botones de inicio y reinicio. */
.buttons {
    text-align: center;
}

/* Estilo para la tabla de clasificación */
#classification {
    font-size: 2rem;
    color: rgb(106, 90, 205);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ol {
    list-style: none;
}


